@font-face {
    font-family: 'Almarai';
    src: url('../fonts/Almarai/Almarai-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Almarai', sans-serif;
    scroll-behavior: smooth;
}

.mobile-menu-items {
    flex-direction: column-reverse;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 130px;
}

.home-section {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 4s ease-out;
    transform: scale(1);
}

.active {
    opacity: 1;
    transform: scale(1.05);
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    backdrop-filter: blur(3px);
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    z-index: 1;
}

.text-overlay h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.text-overlay p {
    font-size: 1.15rem;
    margin-top: 10px;
    font-weight: 300;
}

@media (min-width: 768px) {
    .text-overlay h1 {
        font-size: 3rem;
    }
    .text-overlay p {
        font-size: 1.5rem;
    }
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    direction: rtl;
}

@media (min-width: 768px) {
    .about-section {
        flex-direction: row;
    }
}

.about-info {
    flex: 1;
    padding-left: 20px;
    text-align: right;
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .about-info {
        padding-right: 0px;
        margin-bottom: 0;
    }
}

.about-image {
    flex: 1;
    max-width: 100%;
    padding-right: 0px;
}

@media (min-width: 768px) {
    .about-image {
        max-width: 50%;
        padding-right: 20px;
    }
}

.about-image .image-grid {
    display: grid;
    gap: 10px;
}

.about-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-height: 150px;
}

.about-image img:nth-child(1) {
    height: 210px;
}

.about-image img:nth-child(4) {
    height: 210px;
}

.about-image img:nth-child(2),
.about-image img:nth-child(3) {
    height: 180px;
}

@media (max-width: 767px) {
    .about-image img {
        height: 250px !important;
    }
}

.products-section {
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
}

.product-caption {
    color: #666;
    margin-bottom: 10px;
}

.contact-section {
    padding: 50px 20px;
    background-color: #f2f2f2;
}

.contact-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-icon {
    font-size: 2rem;
    color: #d53f28;
}

.contact-card .fa-facebook {
    color: #1877F2;
}

iframe {
    width: 100%;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #d53f28;
}